<div class="max-w-sm mx-auto bg-orange-100 shadow-md rounded-lg overflow-hidden">
    <img src="{{ product.image.url }}" alt="Product Image" class="w-full h-48 object-cover">
    <div class="p-4">
        <h3 class="font-bold text-xl text-gray-800 mb-2">{{ product.name}}</h3>
        <p class="text-gray-600 font-semibold mb-1">{{ product.price }}</p>
        <p class="text-gray-700 text-sm mb-2 line-clamp-1">{{ product.description }} </p>
        <p class="text-gray-700 text-sm mb-4">Stock: <span class="font-semibold">{{ product.stock }}</span></p>
        <div class="flex space-x-2">
            <a href="{% url 'main:edit_product' product.pk %}" class="text-white font-semibold bg-orange-400 hover:bg-orange-500 px-3 py-2 rounded">Edit</a>
            <a href="{% url 'main:confirm_delete_product' product.pk %}" class="text-white font-semibold bg-red-400 hover:bg-red-500 px-3 py-2 rounded">Delete</a>
            </a>
        </div>
    </div>
</div>