{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="m-24 justify-center gap-10 flex flex-col items-center">
<h1 class="object-center text-center text-4xl font-extrabold">Are you sure you want to delete {{ product.name }}?</p>
<form method="POST" action="{% url 'main:delete_product' product.id %}">
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a href="{% url 'main:show_main' %}"><button type="button">Cancel</button></a>
</form>
</div>
{% endblock %}
