{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="m-24 justify-center gap-10 flex flex-col items-center">
<img src="static/images/logosvg.svg" alt="Jasucat House" class="object-center align-middle" />
<h1 class="object-center text-center text-8xl font-extrabold">Jasucat House</h1>
<h2 class="font-semibold text-center text-orange-500"> {{ name }} | {{class}} | {{ npm }}</h2>

{% if not products %}
<img src="static\images\jasu_mad.jpg" alt="No product yet" class="object-center align-middle h-48 rounded" />
<p>Belum ada produk di Jasucat House.</p>

{% else %}
<div class="columns-1 sm:columns-2 lg:columns-3 gap-4 space-y-4 w-full">
  {% for product in products %}
      {% include 'card_product.html' with product=product %}
  {% endfor %}
</div>
{% endif %}

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>
</div>
{% endblock content %}